
<div *ngIf="coordinate">
    <h2><span>Coordinate</span> {{coordinate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Lati</span></dt>
        <dd>
            <span>{{coordinate.lati}}</span>
        </dd>
        <dt><span>Longi</span></dt>
        <dd>
            <span>{{coordinate.longi}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <div *ngIf="coordinate.location">
                <a [routerLink]="['/location', coordinate.location?.id]">{{coordinate.location?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'coordinate/'+ coordinate.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
